.button {
    padding: .8rem 2rem; 
    background-color: var(--color-primary);
    color: #764041;
    border: 0;
    border-radius: 7px;
    cursor: pointer;

    &:hover, &:focus {
        outline: 0;
        box-shadow: 0 0 0 3px #fea, 0 0 0 4px var(--color-primary);
    }
}