.loginContainer {
    display: flex;
    width: 100%;

    img {
        width: 50%;
    }

    main {
        width: 50%;
    }
}

@media (max-width: 700px) {
    .loginContainer {
        img {
         display: none;
        }

        main {
             width: 100%;
        }
    }
}